.graphTile {
  width: 40%;
  margin: 5%;
  float: left;
  background-color:rgba(171, 183, 183, 0.5);
}

@media (min-width: 1201px) {
  .graphTile {
    height: 500px;
  }  
}

@media (max-width: 1200px) {
  .graphTile {
    height: 410px;
  }  
}

@media (max-width: 992px) {
  .graphTile {
    height: 340px;
  }  
}

@media (max-width: 768px) {
  .graphTile {
    height: 240px;
  } 
}

@media (max-width: 480px) {
  .graphTile {
    height: 150px;
  }  
}

.closer {
  cursor:pointer;
}